<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienes Raíces</title>

        <link rel="stylesheet" href="build/css/app.css">
    </head>

    <body>
        <header class="header ">
            <div class="contenedor header-contenido">
                <div class="header-nav">
                    <a href="/bienes-raices/">
                        <img src="build/img/logo.svg" alt="logotipo de Bienes Raíces">
                    </a>

                    <div class="mobile-menu">
                        <img src="build/img/barras.svg" alt="icono menu responsive">
                    </div>

                    <div class="derecha">
                        <img src="build/img/dark-mode.svg" class="dark-mode-btn" title="Modo oscuro">

                        <nav class="navegacion">
                            <a href="nosotros.html">Nosotros</a>
                            <a href="anuncios.html">Anuncios</a>
                            <a href="blog.html">Blog</a>
                            <a href="contacto.html">Contacto</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <main class="contenedor anuncio-single contenido-centrado">
            <h1>Lorem ipsum</h1>

            <img src="imagenes/47bd174d338804aba7abb263a8bf56aa.jpg" alt="imagen propiedad">
            
            <ul class="anuncio-icons">
                <li>
                    <img src="build/img/icono_wc.svg" alt="icon wc" loading="lazy">
                    <p>1</p>
                </li>
                <li>
                    <img src="build/img/icono_estacionamiento.svg" alt="icon estacionamiento" loading="lazy">
                    <p>1</p>
                </li>
                <li>
                    <img src="build/img/icono_dormitorio.svg" alt="icon habitaciones" loading="lazy">
                    <p>5</p>
                </li>
            </ul>

            <p class="anuncio-single__precio">&dollar;200,000</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique, justo eu malesuada feugiat, odio nisi pharetra neque, eget malesuada mauris mauris eu orci. Duis vitae dui tortor. Pellentesque tincidunt convallis diam, quis posuere massa imperdiet at. Aliquam erat volutpat. Phasellus sollicitudin, erat a interdum pellentesque, ex arcu pellentesque orci, at mollis nulla diam vitae turpis. Sed fringilla est in pretium vulputate. Morbi laoreet lorem at turpis vulputate iaculis. Ut ut vehicula leo. Quisque vel tellus id enim posuere vestibulum a in sapien. Nulla facilisi. Nulla sapien metus, eleifend porta nunc ac, fermentum condimentum enim. Nulla eget fringilla magna. Sed eleifend sodales nunc ac faucibus.

                Proin tempus sodales mi, non commodo lectus pulvinar posuere. Praesent ut nulla facilisis, imperdiet elit eget, tincidunt ex. Cras sodales mi massa, vel accumsan orci consequat ut. Mauris congue tristique orci, lacinia tincidunt lectus pretium ac. Nullam facilisis turpis sed lectus egestas gravida. Aenean sed leo sed elit lobortis finibus. Integer scelerisque ex ipsum, et rutrum velit ultricies vitae. Mauris gravida rhoncus lorem sed sagittis. Nunc non mi ante. Ut a facilisis odio, non pretium mi. Maecenas at molestie felis. Mauris ac massa sem. Suspendisse pharetra erat nec ipsum cursus, quis aliquam nisi rhoncus.
            </p>
        </main>

        <footer class="footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="anuncios.html">Anuncios</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
            </nav>

            <p class="copyright">Todos los derechos reservados - 2021 &copy;</p>
        </footer>

        <script src="build/js/bundle.min.js"></script>
    </body>
</html>
