<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout::head">
    </head>

    <body>
        <header th:replace="layout::header"></header>

        <main class="contenedor seccion contenido-centrado">
            <h1>Nuestro blog</h1>

            <article class="blog-entrada">
                <div class="blog-entrada__imagen">
                    <picture>
                        <source th:srcset="@{/img/blog1.webp}" type="image/webp">
                        <source th:srcset="@{/img/blog1.jpg}" type="image/jpeg">
                        <img th:src="@{/img/blog1.jpg}" alt="imagen blog 1" loading="lazy">
                    </picture>
                </div>
                <div class="blog-entrada__texto">
                    <a th:href="@{/entrada}">
                        <h4>Terraza en el techo de tu casa</h4>
                        <p>Escrita el <span>20/10/2021</span> por <span>Admin</span></p>
                        <p>Consejos para construir una terraza en el techo de tu casa, con los mejores materiales y ahorrando dinero</p>
                    </a>
                </div>
            </article>

            <article class="blog-entrada">
                <div class="blog-entrada__imagen">
                    <picture>
                        <source th:srcset="@{/img/blog2.webp}" type="image/webp">
                        <source th:srcset="@{/img/blog2.jpg}" type="image/jpeg">
                        <img th:src="@{/img/blog2.jpg}" alt="imagen blog 1" loading="lazy">
                    </picture>
                </div>
                <div class="blog-entrada__texto">
                    <a th:href="@{/entrada}">
                        <h4>Terraza en el techo de tu casa</h4>
                        <p>Escrita el <span>20/10/2021</span> por <span>Admin</span></p>
                        <p>Consejos para construir una terraza en el techo de tu casa, con los mejores materiales y ahorrando dinero</p>
                    </a>
                </div>
            </article>

            <article class="blog-entrada">
                <div class="blog-entrada__imagen">
                    <picture>
                        <source th:srcset="@{/img/blog3.webp}" type="image/webp">
                        <source th:srcset="@{/img/blog3.jpg}" type="image/jpeg">
                        <img th:src="@{/img/blog3.jpg}" alt="imagen blog 1" loading="lazy">
                    </picture>
                </div>
                <div class="blog-entrada__texto">
                    <a th:href="@{/entrada}">
                        <h4>Terraza en el techo de tu casa</h4>
                        <p>Escrita el <span>20/10/2021</span> por <span>Admin</span></p>
                        <p>Consejos para construir una terraza en el techo de tu casa, con los mejores materiales y ahorrando dinero</p>
                    </a>
                </div>
            </article>
            
            <article class="blog-entrada">
                <div class="blog-entrada__imagen">
                    <picture>
                        <source th:srcset="@{/img/blog4.webp}" type="image/webp">
                        <source th:srcset="@{/img/blog4.jpg}" type="image/jpeg">
                        <img th:src="@{/img/blog4.jpg}" alt="imagen blog 1" loading="lazy">
                    </picture>
                </div>
                <div class="blog-entrada__texto">
                    <a th:href="@{/entrada}">
                        <h4>Terraza en el techo de tu casa</h4>
                        <p>Escrita el <span>20/10/2021</span> por <span>Admin</span></p>
                        <p>Consejos para construir una terraza en el techo de tu casa, con los mejores materiales y ahorrando dinero</p>
                    </a>
                </div>
            </article>
        </main>

        <footer th:replace="layout::footer"></footer>
    </body>
</html>