<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout::head">
    </head>

    <body>
        <header th:replace="layout::header"></header>

        <main class="contenedor anuncio-single contenido-centrado">
            <h1>Guía para la decoración de tu hogar</h1>

            <picture>
                <source th:srcset="@{/img/destacada2.webp}" type="image/webp">
                <source th:srcset="@{/img/destacada2.jpg}" type="image/jpeg">
                <img th:src="@{/img/destacada2.jpg}" alt="anuncio">
            </picture>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium lacus in iaculis molestie. In et rhoncus ex. Nam ligula ante, accumsan sit amet bibendum sed, semper sed dolor. Quisque non dapibus sem, pulvinar consequat lectus. Ut nec vestibulum nunc, vitae aliquam eros. Morbi id sapien elit. Ut accumsan nibh non interdum dignissim. Vestibulum luctus dolor ut eros efficitur vehicula at ac magna. Maecenas at turpis lacinia, blandit lacus sit amet, egestas augue. Nam euismod vitae sem eu aliquam. Fusce malesuada sem sit amet aliquet congue.
                Donec a viverra orci, quis molestie felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc at massa varius, dictum felis et, bibendum eros. Mauris a turpis sed nunc vehicula lobortis at nec turpis. Duis tincidunt augue tellus, quis viverra ligula laoreet bibendum. In et condimentum enim. Etiam eleifend nulla nec mi interdum pharetra. Fusce id volutpat ante. Proin aliquet ultrices nisi, vitae scelerisque velit sagittis eget. Integer lobortis metus vitae nisi scelerisque, sit amet tincidunt diam porttitor. Vestibulum ut hendrerit dolor.
                Praesent felis augue, rutrum in felis hendrerit, euismod mattis ante. Fusce aliquet tempor lectus, pharetra mattis felis ultrices eu. Curabitur consequat ac mi a volutpat. Morbi semper, urna nec sodales volutpat, ligula nisl gravida dui, at vestibulum velit nisi id dolor. Suspendisse varius arcu quis justo sodales, eget porta urna pulvinar. Nunc elementum, velit eget venenatis finibus, urna ligula efficitur est, in ultricies justo ex non mi. Donec vel hendrerit magna. Etiam nunc arcu, vehicula sed tempus id, ullamcorper non tortor. Ut odio arcu, semper id fermentum id, feugiat eu erat. Proin et turpis ipsum. Maecenas a posuere felis. Praesent molestie suscipit faucibus. Praesent rhoncus vulputate magna varius facilisis. Etiam lobortis felis orci, vel fermentum lorem sollicitudin in. Aliquam nec quam imperdiet diam mollis gravida. Donec condimentum nibh sed convallis hendrerit.
            </p>
            <p class="informacion-meta">Escrito el <span>20/11/2020</span> por <span>Admin</span></p>
        </main>

        <footer th:replace="layout::footer"></footer>
    </body>
</html>
