<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout::head">
    </head>

    <body>
        <header th:replace="layout::header"></header>

        <main class="contenedor nosotros">
            <h1>Nosotros</h1>

            <div class="nosotros-div">
                <div>
                    <picture>
                        <source th:srcset="@{/img/nosotros.webp}" type="image/webp">
                        <source th:srcset="@{/img/nosotros.jpg}" type="image/jpeg">
                        <img th:src="@{/img/nosotros.jpg}" alt="nosotros">
                    </picture>
                </div>
                <div class="nosotros-div__text">
                    <h4>25 años de experiencia</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque dolor velit, nec tempus lorem maximus ut. Praesent porttitor finibus malesuada. Duis laoreet bibendum libero, id vulputate enim elementum eu. Donec elit metus, congue quis tortor ac, feugiat tincidunt urna. Vivamus luctus bibendum risus, dapibus sollicitudin erat bibendum fermentum. Nunc finibus iaculis mi, vel auctor urna. Maecenas molestie, lectus sed sollicitudin tincidunt, ligula arcu luctus risus, vel convallis est arcu nec justo. Praesent in convallis dui. Sed faucibus interdum leo, ac ultricies nisi ultrices et. Vestibulum gravida et dui id rhoncus. Pellentesque efficitur neque nisi, quis dignissim eros tincidunt eu. Etiam porttitor odio vitae ligula malesuada, non ultrices odio tincidunt. Proin vel quam quis lacus lacinia posuere non quis tortor. Phasellus et lectus eget orci tempor fermentum nec elementum turpis. Suspendisse dignissim lacus a ipsum cursus rutrum.</p>
                </div>
            </div>
        </main>

        <section class="contenedor main">
            <h2>Más sobre nosotros</h2>

            <div class="iconos-nosotros" data-cy="iconos">
                <div class="icono">
                    <img th:src="@{/img/icono1.svg}" alt="icono seguridad" loading="lazy">
                    <h3>Seguridad</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse omnis veniam voluptatum vel nostrum libero modi molestiae sed placeat quod neque, repellendus quidem atque suscipit ab accusantium deserunt ipsam repudiandae?</p>
                </div>
                <div class="icono">
                    <img th:src="@{/img/icono2.svg}" alt="icono precio" loading="lazy">
                    <h3>Precio</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse omnis veniam voluptatum vel nostrum libero modi molestiae sed placeat quod neque, repellendus quidem atque suscipit ab accusantium deserunt ipsam repudiandae?</p>
                </div>
                <div class="icono">
                    <img th:src="@{/img/icono3.svg}" alt="icono tiempo" loading="lazy">
                    <h3>A tiempo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse omnis veniam voluptatum vel nostrum libero modi molestiae sed placeat quod neque, repellendus quidem atque suscipit ab accusantium deserunt ipsam repudiandae?</p>
                </div>
            </div>
        </section>

        <footer th:replace="layout::footer"></footer>
    </body>
</html>
