<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout::head">
    </head>

    <body>
        <header th:replace="layout::header"></header>

        <main class="contenedor seccion">
            <h2>Casas y departamentos en venta</h2>  

            <div class="anuncios">
                <div th:each="p: ${properties}" class="anuncio">
                    <a th:href="@{/propiedad/{id} (id = ${p.id})}" class="anuncio-link"></a>

                    <img th:src="@{/assets/properties/{img} (img = ${p.imageName})}" class="anuncio-img" alt="Foto de la propiedad" loading="lazy">

                    <div class="anuncio-contenido">
                        <div>
                            <h4 th:text="${p.title}"></h4>
                            <p class="anuncio-contenido__precio">$ <span th:text="${#numbers.formatDecimal(p.price, 0, 'DEFAULT', 0, 'POINT')}"></span></p>
                            <p th:text="${p.description}"></p>
                        </div>

                        <ul class="anuncio-icons">
                            <li>
                                <img th:src="@{/img/icono_dormitorio.svg}" alt="icono de habitaciones" loading="lazy">
                                <p th:text="${p.rooms}"></p>
                            </li>
                            <li>
                                <img th:src="@{/img/icono_wc.svg}" alt="icono de baños" loading="lazy">
                                <p th:text="${p.bathrooms}"></p>
                            </li>
                            <li>
                                <img th:src="@{/img/icono_estacionamiento.svg}" alt="icono de estacionamientos" loading="lazy">
                                <p th:text="${p.parkingLots}"></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="anuncio" data-cy="anuncio">
                    <a data-cy="anuncio-link" href="anuncio1.html" class="anuncio-link"></a>

                    <img class="anuncio-img" src="imagenes/170c32f00390ee36994e491996981951.jpg" alt="propiedad" loading="lazy">
                    
                    <div class="anuncio-contenido">
                        <div>
                            <h4>Morbi lobortis euismod</h4>
                            <p class="anuncio-contenido__precio">&dollar;1,000,000</p>
                            <p>Sed placerat lectus hendrerit nunc molestie, vel bibendum elit efficitur. Integer ornare interdum porta. Cras neque lorem, sagittis vel vulputat...</p>
                        </div>

                        <ul class="anuncio-icons">
                            <li>
                                <img src="build/img/icono_wc.svg" alt="icon wc" loading="lazy">
                                <p>3</p>
                            </li>
                            <li>
                                <img src="build/img/icono_estacionamiento.svg" alt="icon estacionamiento" loading="lazy">
                                <p>1</p>
                            </li>
                            <li>
                                <img src="build/img/icono_dormitorio.svg" alt="icon habitaciones" loading="lazy">
                                <p>5</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="anuncio" data-cy="anuncio">
                    <a data-cy="anuncio-link" href="anuncio2.html" class="anuncio-link"></a>

                    <img class="anuncio-img" src="imagenes/838128d2773e114bc8a5d37673cd1e46.jpg" alt="propiedad" loading="lazy">
                    
                    <div class="anuncio-contenido">
                        <div>
                            <h4>Proin tempus sodales</h4>
                            <p class="anuncio-contenido__precio">&dollar;200,000</p>
                            <p>Hermosa casa blanca de 2 pisos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et lacus lectus. Praesent iaculis in leo eu lac...</p>
                        </div>

                        <ul class="anuncio-icons">
                            <li>
                                <img src="build/img/icono_wc.svg" alt="icon wc" loading="lazy">
                                <p>2</p>
                            </li>
                            <li>
                                <img src="build/img/icono_estacionamiento.svg" alt="icon estacionamiento" loading="lazy">
                                <p>1</p>
                            </li>
                            <li>
                                <img src="build/img/icono_dormitorio.svg" alt="icon habitaciones" loading="lazy">
                                <p>7</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="anuncio" data-cy="anuncio">
                    <a data-cy="anuncio-link" href="anuncio3.html" class="anuncio-link"></a>

                    <img class="anuncio-img" src="imagenes/fe9fd38004550b842ddee4ab71b599c1.jpg" alt="propiedad" loading="lazy">
                    
                    <div class="anuncio-contenido">
                        <div>
                            <h4>Donec imperdiet quis dolor a rho...</h4>
                            <p class="anuncio-contenido__precio">&dollar;2,000</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique, justo eu malesuada feugiat, odio nisi pharetra neque, eget malesuada...</p>
                        </div>

                        <ul class="anuncio-icons">
                            <li>
                                <img src="build/img/icono_wc.svg" alt="icon wc" loading="lazy">
                                <p>1</p>
                            </li>
                            <li>
                                <img src="build/img/icono_estacionamiento.svg" alt="icon estacionamiento" loading="lazy">
                                <p>1</p>
                            </li>
                            <li>
                                <img src="build/img/icono_dormitorio.svg" alt="icon habitaciones" loading="lazy">
                                <p>1</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="anuncio" data-cy="anuncio">
                    <a data-cy="anuncio-link" href="anuncio4.html" class="anuncio-link"></a>

                    <img class="anuncio-img" src="imagenes/47bd174d338804aba7abb263a8bf56aa.jpg" alt="propiedad" loading="lazy">
                    
                    <div class="anuncio-contenido">
                        <div>
                            <h4>Lorem ipsum</h4>
                            <p class="anuncio-contenido__precio">&dollar;200,000</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique, justo eu malesuada feugiat, odio nisi pharetra neque, eget malesuada...</p>
                        </div>

                        <ul class="anuncio-icons">
                            <li>
                                <img src="build/img/icono_wc.svg" alt="icon wc" loading="lazy">
                                <p>1</p>
                            </li>
                            <li>
                                <img src="build/img/icono_estacionamiento.svg" alt="icon estacionamiento" loading="lazy">
                                <p>1</p>
                            </li>
                            <li>
                                <img src="build/img/icono_dormitorio.svg" alt="icon habitaciones" loading="lazy">
                                <p>5</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="anuncio" data-cy="anuncio">
                    <a data-cy="anuncio-link" href="anuncio5.html" class="anuncio-link"></a>

                    <img class="anuncio-img" src="imagenes/63aab8796ef0bd63691caa11d091df73.jpg" alt="propiedad" loading="lazy">
                    
                    <div class="anuncio-contenido">
                        <div>
                            <h4>Proin bibendum metus</h4>
                            <p class="anuncio-contenido__precio">&dollar;400,000</p>
                            <p>Proin bibendum metus eget orci semper, vel interdum augue tincidunt. Morbi iaculis blandit tincidunt. Donec ante tellus, dapibus aliquam imperdi...</p>
                        </div>

                        <ul class="anuncio-icons">
                            <li>
                                <img src="build/img/icono_wc.svg" alt="icon wc" loading="lazy">
                                <p>3</p>
                            </li>
                            <li>
                                <img src="build/img/icono_estacionamiento.svg" alt="icon estacionamiento" loading="lazy">
                                <p>1</p>
                            </li>
                            <li>
                                <img src="build/img/icono_dormitorio.svg" alt="icon habitaciones" loading="lazy">
                                <p>7</p>
                            </li>
                        </ul>
                    </div>
                </div>  -->
            </div>
        </main>

        <footer th:replace="layout::footer"></footer>
    </body>
</html>